<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
      .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body p {
    margin-bottom: 0.3rem;  /* уменьшенный отступ между строками */
  }
   
  .eff-percent {
    font-size: 1.6rem;       /* больше шрифт */
    font-weight: 700;        /* жирнее */
  }

    .text-orange { color: #fd7e14; }  /* тот же цвет, что bg-warning, но без фона */

      .bg-orange { background-color: #fd7e14 !important; }

    </style>
    
  </head>
  
  <body class="bg-light">

      
      <div class="container py-4">
        <h1 class="mb-4">TURBORAND DASHBOARD</h1>
        <h4 class="mb-4"><u></u>Демо структуры (Все показатели вымышленные)</u></h4>
    </div>
    
    
    <div class="container py-4">
        <h3 class="mb-4">Продажи</h3>
        <form method="get" class="mb-3">
          <label for="period" class="form-label">Период:</label>
          <select class="form-select w-auto d-inline-block" name="period" id="period" onchange="this.form.submit()">
            <option value="3m" {% if period == '3m' %}selected{% endif %}>3 месяца</option>
            <option value="1m" {% if period == '1m' %}selected{% endif %}>Месяц</option>
            <option value="1w" {% if period == '1w' %}selected{% endif %}>Неделя</option>
            <option value="3d" {% if period == '3d' %}selected{% endif %}>3 дня</option>
          </select>
        </form>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for m in managers %}
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="{{ m.photo_url }}" class="card-img-top" alt="{{ m.name }}">
            <div class="card-body text-center">
              <h5 class="card-title">{{ m.name }}</h5>
              <p class="card-text">
                Эффективность:
                <span class="eff-percent {{ m.eff_class }}">{{ m.eff }} %</span>
            </p>
              <p class="card-text">Отправлено КП: <strong> {{ m.kp_count }}</strong></p>
              <p class="card-text">Совершено звонков: <strong> {{ m.calls_count }}</strong></p>
              <p class="card-text">Успешных сделок: <strong> {{ m.success_deals }}</strong></p>
              <p class="card-text">Принёс прибыли: <strong> {{ m.profit_money }}</strong></p>
              <div class="progress my-1" style="height: 6px;">
                <div class="progress-bar {{ m.bar_class }}"
                    role="progressbar"
                    style="width: {{ m.eff }}%;"></div>
                </div>
                <h1></h1>
                <p class="text-muted small opacity-75">Показатели вымышленные</p>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

     <div class="container py-4">
      <h3 class="mb-4">Снабжение</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for m in supplies %}
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="{{ m.photo_url }}" class="card-img-top" alt="{{ m.name }}">
            <div class="card-body text-center">
              <h5 class="card-title">{{ m.name }}</h5>
              <p class="card-text">
                Эффективность:
                <span class="eff-percent {{ m.eff_class }}">{{ m.eff }} %</span>
            </p>
              <p class="card-text">Показатель 1: {{ m.stat1 }} </strong></p>
              <p class="card-text">Показатель 2: {{ m.stat2 }} </strong></p>
              <div class="progress my-1" style="height: 6px;">
  <div class="progress-bar {{ m.bar_class }}"
       role="progressbar"
       style="width: {{ m.eff }}%;"></div>
</div>
<p class="text-muted small opacity-75">Показатели вымышленные</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
